
/*
  schema:
    http://colorschemedesigner.com/#2991FGDgfxueb0HlJR1H7K53QuMn4JRQX
  green:
    light: #669933
    dark: #336600
  brown:
    light: #999966
    dark: #666633
*/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #999966;
}

.navbar .container .brand {
  color: #669933;
}

.container .logo {
  float: right;
  padding-right: 70px;
  padding-top: 5px;
}

.container .hero-unit {
  background-color: #666633;
  color: #999966;
}

.container .hero-unit h1 {
  color: #FFFFFF;
}
.container .hero-unit h2 {
  color: #669933;
}

.container .well h1 {
  color: #666633;
}

.container .btn {
  color: #FFFFFF;
}

footer {
  float: right;
  color: #666633;
}
