
/*
  schema:
    http://colorschemedesigner.com/#2991FGDgfxueb0HlJR1H7K53QuMn4JRQX
  green:
    light: #669933
    dark: #336600
  brown:
    light: #999966
    dark: #666633
*/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #999966;
}

.navbar .container .brand {
  color: #669933;
}

.container .logo {
  float: right;
  padding-right: 70px;
  padding-top: 5px;
}

.container .hero-unit {
  background-color: #666633;
  color: #999966;
}

.container .hero-unit h1 {
  color: #FFFFFF;
}
.container .hero-unit h2 {
  color: #669933;
}

.container .well h1 {
  color: #666633;
}

.container .btn {
  color: #FFFFFF;
}

footer {
  float: right;
  color: #666633;
}

.btn-primary {
  background-color: #669933;
  *background-color: #336600;
  background-image: -ms-linear-gradient(top, #669933, #336600);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#669933), to(#336600));
  background-image: -webkit-linear-gradient(top, #669933, #336600);
  background-image: -o-linear-gradient(top, #669933, #336600);
  background-image: -moz-linear-gradient(top, #669933, #336600);
  background-image: linear-gradient(top, #669933, #336600);
  background-repeat: repeat-x;
  border-color: #669933 #669933 #336600;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#336600', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #336600;
  *background-color: #336600;
}
